# ============================================================
# AWS общие параметры
# ============================================================
AWS_REGION=eu-north-1
AWS_ACCOUNT_ID=123456789012
AWS_PROFILE=default

# ============================================================
# Task 1 — Static web на S3
# ============================================================
S3_WEB_BUCKET=event-platform-web-task-1
API_BASE_URL=https://example.invalid/prod

# ============================================================
# Task 2 — API Gateway + Lambda + DynamoDB
# ============================================================
SAM_STACK_NAME=event-platform-api
DDB_EVENTS_TABLE=Events
DDB_REGISTRATIONS_TABLE=Registrations

